.spot-detail-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 80px;
  padding-bottom: 40px;
}

.spot-detail-panel {
  height: auto;
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 30px;
}

.spot-detail-image {
  height: 560px;
  width: 720px;
  border-radius: 12px;
  background-size: contain;
  background-size: cover;
  margin-bottom: 13px;
}

/* 1280 x 720 */

#spot-detail-name {
  font-size: 26px;
  font-weight: 600;
  font-family:sans-serif;
  align-self: flex-start;
}

#spot-detail-location {
  font-size: 15px;
  font-weight: 400;
  font-family:Arial, Helvetica, sans-serif;
  align-self: flex-start;
  text-decoration: underline;
  padding-left: 2px;
  padding-bottom: 20px;
}

#spot-detail-description {
  font-size: 22px;
  font-family: sans-serif;
  align-self: center;
  font-weight: bold;
}

#spot-detail-price {
  font-weight: 900;
  font-size: 21px;
}

#spot-detail-night {
  font-weight: 200;
  font-size: 18px;
}

#spot-details-buttons {
  /* padding-top: 15px; */
  display: flex;
  flex-direction: column;
}


.spot-crud-buttons {
  background-color: #E31C59;
  height: 55px;
  width: 300px;
  font-size: 16px;
  color: white;
  margin-top: 16px;
  border-radius: 10px;
}

.spot-crud-buttons:hover {
  border: 2px #717171;
  border-style: ridge;
  background-color: #be083e;
}

.reviews-container {
  border-top: solid .01px;
  border-color: rgb(210, 203, 203);
  width: 720px;
  height: auto;
}

.create-review-form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
}

.create-review-text-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 160px;
}

.create-review-header {
  font-size: 24px;
}
