.reviews-header {
  font-size: 22px;
}

.review-star {
  font-size: 18px;
}

.reviews-grid {
  display: grid;
  grid-template-columns: 360px 360px ;
  grid-template-rows: auto;
  /* grid-gap: 25px; */
}

/* .review {

} */
