.reviews-header {
  font-size: 22px;
}

.review-star {
  font-size: 18px;
}

.reviews-grid {
  display: grid;
  grid-template-columns: 310px 310px ;
  grid-template-rows: auto;
  grid-row-gap: 30px;
  grid-column-gap: 70px;
}

.review {
  display: flex;
  flex-direction: column;
  height: auto
}

.review-name {
  font-size: 16px;
  font-weight: bold;
}

.review-date {
  font-size: 14px;
  color: #717171
}

.review-body {
  height: auto;
  overflow: scroll;
}

.delete-review-button-container {
  padding-top: 20px;
  align-self: flex-end;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.review-delete-button {
  width: 60px;
  height: 24px;
  background-color: #E31C59;
  color: white;
  border-radius: 5px;
}

.review-delete-button:hover {
  border: 2px #717171;
  border-style: ridge;
  background-color: #be083e;
}
