.home-page-container {
  display: flex;
  justify-content: center;
}

.grid-1 {
  /* margin: 0;
  padding: 0; */
  display: grid;
  /* grid-template-columns: 358.14px 358.14px 358.14px 358.14px 358.14px 358.14px; */
  /* grid-template-columns: 20% 20% 20% 20% 20%;
   */
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: auto; */
  padding-top: 50px;
  grid-gap: 25px;
}

/* .home-spot-container {
  width: auto;
} */

.preview-image {
  height: 377px;
  width: 358.14px;
  border-radius: 10px;
  background-size: contain;
  background-size: cover;
  margin-bottom: 10px;
}

.spot-nav-links {
  text-decoration: none;
  color: black;
  font-weight:450;
}

.night{
  font-weight: 200;
  font-size: 15px;
}

.spot-price-and-stars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.spot-avg-stars {
  font-weight: 200;
}
