.create-spot-container {
  padding-top: 120px;
}

.create-spot-label {
  border-bottom: 2px solid rgb(207, 198, 198);;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.create-spot-panel {
  width: 566px;
  height: 840px;
  border: 2px solid rgb(207, 198, 198);
  border-radius: 1%;
  margin: 0px auto;
}

.create-spot-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-spot-fields {
  height: 52px;
  width: 502px;
  border: 1.2px solid rgb(207, 198, 198);
  font-size: 16px;
  padding-left: 10px;
  outline-color: black;
}

.create-spot-button {
  background-color: #E31C59;
  height: 48px;
  width: 502px;
  font-size: 16px;
  color: white;
  margin-top: 30px;
  border-radius: 10px;
}

.create-spot-button:hover {
  border: 2px #717171;
  border-style: ridge;
  background-color: #be083e;
}

#welcome {
  padding-right: 1px;
  align-self: flex-start;
  margin-left: 25px;
}
