.signup-form-label {
  border-bottom: 2px solid rgb(207, 198, 198);;
  border-radius: 2%;
  display: flex;
  justify-content: center;
}

.signup-panel {
  width: 566px;
  height: 634px;
  border: 2px solid rgb(207, 198, 198);
  border-radius: 1%;
  margin: 0px auto;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-button {
  background-color: #E31C59;
  height: 48px;
  width: 502px;
  font-size: 16px;
  color: white;
  margin-top: 30px;
  border-radius: 10px;
}

#welcome {
  padding-right: 324px;
  padding-top: 35px;
  font-size: 22px;
}

.signup-text-fields {
  height: 52px;
  width: 502px;
  border: 1.2px solid rgb(207, 198, 198);
  font-size: 16px;
  padding-left: 10px;
  outline-color: black;
}

#signup-first-name {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 52px;
}

#signup-confirm-password {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
