.booking-page-container {
    padding-top: 90px;
    overflow: hidden;

}

.booking-page-grid {
    display: grid;
    grid-template-columns: 42vw 56vw;
    grid-gap: 1vw;
    grid-template-rows: 1;
    width: 95vw;
    height: 86vh;
}

.booking-info-container {
    grid-column: 1;
    margin-left: 5px;
    box-shadow: 0.1px 0.5px 2px gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    overflow: scroll;
    position: sticky;
}

.booking-google-maps-area {
    grid-column: 2;
}

.booking-page-image {
    position: relative;
    height: 400px;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0.1px 0.5px 2px gray;
    filter: brightness(60%);
    object-fit: cover;
}

.booking-page-owner-heading {
    position: absolute;
    top: 100px;
    left: 35px;
    color: white;
    font-weight: 600;
    font-size: 32px;
}

.booking-page-back-button {
    position: absolute;
    top: 25px;
    left: 30px;
    color: white;
    font-size: 20px;
    border: 2px solid white;
    padding: 6px;
    border-radius: 50px;
    transition: 0.5s;
}

.booking-page-back-button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    transition: 0.5s;
}

.booking-page-cancel-button {
    color: white;
    background-color: #FD595E;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    height: 45px;
    width: 120px;
    margin-top: 8px;
    transition: 1s;
}

.booking-page-cancel-button:hover {
    background-color: white;
    border:0.5px solid #FD595E;
    color: #FD595E;
    transition: 1s;
    cursor: pointer;
}

.booking-page-reservation-management {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    align-content: center;
}

.booking-page-dates-container {
    display: flex;
    height: 120px;
    display: grid;
    grid-template-columns: 43% 50%;
    grid-template-rows: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #DDDDDD;
}

.booking-page-check-in {
    grid-column: 1;
    border-right: 1px solid #DDDDDD;
    padding-left: 25px;
    margin-top: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.booking-page-check-in-text {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 8px;
}

.booking-page-check-in-time {
    font-size: 15px;
    color: #717171;
    padding-top: 8px;
    font-weight: 200;
}

.booking-page-check-out {
    grid-column: 2;
    padding-left: 25px;
    margin-top: 10px;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.booking-page-reservation-details {
    padding-top: 20px;
}

.booking-page-reservation-details-text {
    padding-left: 30px;
}

.booking-page-cancelation-policy {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-bottom: 1px solid #DDDDDD;
}

.booking-page-cancelation-policy-header {
    font-size: 17px;
    font-weight: bold;
}

.booking-page-cancelation-policy-text {
    font-size: 16px;
    font-weight: 300;
}

.booking-page-host-details {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
}

.booking-page-host-image-container {
    margin-right: 30px;
}

.booking-page-host-image {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    box-shadow: 0.1px 0.5px 2px gray;
    object-fit: cover;
}

.booking-page-host-image:hover {
    transform: rotate(360deg);
    transition: 3s;
}

.booking-page-review-area {
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-right: 30PX;
}

.booking-page-stars-container {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    padding-right: 30px;
    width: 100%;
    font-size: 40px;
    color: #ABAEB0;
}

.booking-page-existing-gold-star {
    color: #E8B65D;
}

.star-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.rating-input {
    display: none;
}

.booking-page-inactive-star {
    transition: 0.2s
}

.booking-page-inactive-star:hover,
.booking-page-inactive-star:hover ~ .booking-page-inactive-star,
.rating-input:checked ~ .booking-page-inactive-star {
    cursor: pointer;
    color: #E8B65D;
    transition: 0.2s;
}

.booking-page-review-input {
    margin-top: 30px;
    width: 100%;
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    transition: 0.2s;
}

.booking-page-review-input:focus {
    outline: #FD595E;
    border: 1px solid #FD595E;
    transition: 1s;
}

.booking-page-review-button-container {
    padding-top: 15px;
    text-align: center;
    padding-bottom: 30px;
}

.booking-page-review-button {
    color: white;
    background-color: #FD595E;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    height: 45px;
    width: 160px;
    margin-top: 8px;
    transition: 1s;
}

.booking-page-review-button:hover {
    background-color: white;
    border:0.5px solid #FD595E;
    color: #FD595E;
    transition: 1s;
    cursor: pointer;
}
