.nav-bar {
  width: 100%;
  height: 80px;
  border-bottom: .5px solid rgb(243, 232, 232);
  display: flex;
  justify-content: space-between;
}

.nav-bar-links {
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(124, 119, 119)
}

.logo {
  width: 100px;
  margin-left: 80px;
  margin-top: 16px;
}

.profile-button-container {
  align-self: center;
  padding-right: 200px;
}
