.nav-bar {
  width: 100%;
  height: 80px;
  top: 0px;
  border-bottom: .5px solid rgb(243, 232, 232);
  display: flex;
  justify-content: space-between;
  position:fixed;
  z-index: 1000;
  background-color: white;
}

.nav-bar-links {
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(124, 119, 119)
}

.logo {
  width: 100px;
  margin-left: 80px;
  margin-top: 22px;
}

.profile-button-container {
  align-self: center;
  padding-right: 80px;
  position: relative;
}

.profile-button {
  width: 78px;
  height: 40px;
  border-radius: 50px;
  background: none;
  border: 1.5px solid #E9E9E9;
  transition: 1.5s;

}

.profile-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 3px 0.1px gray;
  transition: 0.5s;
}

.drop-down-icons {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.drop-down-lines {
margin-top: 7px;
padding-left: 2px;
}

.drop-down-image {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 0.1px solid gray;
  object-fit: cover;
}

.drop-down-container {
  position: absolute;
  top: 50px;
  right: 80px;
  background-color: white;
  border: 1px solid #E9E9E9;
  border-radius: 8px;
  z-index: 1;
  width: 220px;
  box-shadow: 1px 1px 3px 0.1px gray;
  transition: 1s;
  text-align: left;
}

.roambnb-your-home-container {
  position: fixed;
  right: 200px;
  top: 22px;
  padding: 10px;
  border-radius: 20px;
  transition: 0.5s;
}

.roambnb-your-home-container:hover {
  background-color: rgb(245, 238, 238);
  transition: 1s;
  cursor: pointer;
}


.roambnb-your-home {
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  color: black;
}
