.nav-bar {
  width: 100%;
  height: 80px;
  border-bottom: .5px solid rgb(243, 232, 232);
  display: flex;
  justify-content: space-between;
}

.nav-bar-links {
  font-family: sans-serif;
  text-decoration: none;
  color: rgb(124, 119, 119)
}

.logo {
  width: 100px;
  margin-left: 80px;
  margin-top: 16px;
}

.profile-button-container {
  align-self: center;
  padding-right: 160px;
}

.profile-button {
  width: 78px;
  height: 40px;
  border-radius: 50px;
  background: none;
  border: 1.5px solid #E9E9E9;
}

.drop-down-icons {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.drop-down-lines {
margin-top: 7px;
padding-left: 2px;
}

.drop-down-image {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  border: 0.1px solid gray;
}
